html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;

}



.totalcontent{
    display: grid;
    grid-template-columns: 1fr 6fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
    
    
  }
 

.grid-header{
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
  }

.grid-meny{
    grid-area: content;
    padding: 20px;
    background-color: antiquewhite;
    
  }

.grid-filter{
  grid-area: sidebar;
  background-color: #555;
  color: #fff;
  padding: 10px;
  display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-gap: 20px;
    align-content: start;
}

.grid-footer{
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
  }

#header{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    margin-right: 200px;
    
}

#logo{
    width: 10%;
    float: left;
}
#engelsk{
    float: right;
    
}

#svensk{
    float: right;
}

#menu-list {
  grid-auto-flow: column;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#menu-list article {
  display: grid;
  grid-template-columns: 1fr 50px 30px 50px 30px;
  padding: 20px;
  border-radius: 3px;
  border: 2px solid #555;
  box-shadow: 1px 1px 5px 2px #555;
  background-color: azure;
}
#menu-list article dish_id {
  display: none;
  }
  #menu-list article description {
      grid-column: 1 / -1;
  }
  #menu-list article .order-button {
      grid-row: 3;
      grid-column: 1 / -1;
      width: 70px;
      justify-self: center;
  }
  fieldset {
      display: grid;
      grid-template-columns: 30px 1fr;
  }
  .hidden {
    display: none !important; 

  }
/* Anpassar designen för mindre skärmar */
@media (max-width: 768px) {
  .main-menu {
      width: 100%;
  }

  .column {
      width: 100%;
  }
  footer {
     background-color: rgb(186, 184, 184);
     padding: 20px 0 20px 0;
     text-align: center;
     position: relative;
     bottom: 0;
     width: 100%;
 }
}

/* Anpassar designen för mobila enheter */
@media (max-width: 480px) {
  .main-menu {
      font-size: 16px;
  }
  #menu-list {
    grid-auto-flow: row;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
}