html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;

}



.totalcontent{
    display: grid;
    grid-template-columns: 1fr 6fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
    
    
  }
 

.grid-header{
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
  }

.svenskbutton{
  border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.engelskbutton{
  border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    
}

.grid-meny{
    grid-area: content;
    padding: 20px;
    background-color: antiquewhite;
    position: sticky;
  }

.grid-filter{
  grid-area: sidebar;
  background-color: #555;
  color: #fff;
  padding: 10px;
  display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-gap: 20px;
    align-content: start;   
}
.filters{
  position:relative;
}
.orderCart {    
  border: 2px solid #000;  
  padding: 10px;
  display: flex;     
  flex-direction: column;     
  align-items: center; 
} 
.orderCart header h2 {     
  text-align: center;     
  margin-top: 0;  
}

.grid-footer{
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
  }

#header{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;    
}

#menu-list {
  grid-auto-flow: column;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
}

#menu-list article {
  display: grid;
  grid-template-columns: 1fr 50px 30px 50px 30px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #555;
  box-shadow: 1px 1px 5px 2px #555;
  background-color: azure;
}
#menu-list article dish_id {
  display: none;
  }
  #menu-list article description {
      grid-column: 1 / -1;
  }
  #menu-list article .order-button {

      width: 70px;
    
    align-self: end;
  }
  fieldset {
      display: grid;
      grid-template-columns: 30px 1fr;
  }
  .hidden {
    display: none !important; 

  }

/* Anpassar designen för mobila enheter*/ 
@media (max-width: 1600px) {
  #menu-list{
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      padding: 0px;
      grid-gap: 5px;
      
      
  }
.totalcontent{
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-template-rows: auto 1fr auto; 
  
  }
  #menu-list article {
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    
  }
  #menu-list article .order-button {
    margin:auto;
    align-self: end;
}
.grid-filter{
 font-size: 1em;
 width: auto;
 align-items: stretch;

}

}

@media (max-width: 1000px) {
  #menu-list{
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      padding: 0px;
      grid-gap: 5px;
      
      
  }
.totalcontent{
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-template-rows: auto 1fr auto; 
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  }
  #menu-list article {
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    
  }
  #menu-list article .order-button {
    margin:auto;
    align-self: end;
}
.grid-filter{
 font-size: 1em;
 width: auto;
 align-items: stretch;

}

}

@media (max-width: 900px) {
  #menu-list{
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      padding: 0px;
      grid-gap: 5px;
      
      
  }
.totalcontent{
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: auto 1fr auto; 
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  }
  #menu-list article {
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    
  }
  #menu-list article .order-button {
    margin:auto;
    align-self: end;
}
.grid-filter{
  font-size: 1.5em;
  width: auto;
  align-items: stretch;
 
 }
 
  
}

@media (max-width: 700px){

  #menu-list{
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    padding: 0px;
    grid-gap: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    
    
}
.totalcontent{
display: grid;
grid-template-columns: 1fr; 
grid-template-rows: auto 1fr auto; 
grid-template-areas:
  "header header"
  "sidebar content"
  "footer footer";
}
#menu-list article {
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  
  
}
#menu-list article .order-button {
  margin:auto;
  align-self: end;
}
.filters{
  position: relative;
}

.grid-filter{
font-size: 1em;


}


}
